---
Checks: >-
  -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  readability-*,
  performance-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  -misc-non-private-member-variables-in-classes
HeaderFilterRegex: '(^|/)(include/fchat|src)/'
FormatStyle: file
InheritParentConfig: false
...
